.product-card {
    max-width: 200px;
    margin: 5px;
  }
  
  .container {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container >* {
    flex: 1 1 200px;
  }

  .info-text {
    text-align: center;
  }

  .block {
    display: block;
    background-color: brown;
  }

  .ola {
    display: flex;
    margin-top: auto;
    margin-left: 1rem;
  }

  .ola>form {
    margin: 2rem;
  }